body{
    padding: 0;
    margin: 0;
    color: white;
    background-image: linear-gradient(62deg, #91b6db 0%, #775d91 100%);
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    color: white;
    background: none;
    border: none;
    outline: none;
}
   button:hover{
        cursor: pointer;
    }

.heading{
    color: rgb(255, 255, 255);
   
    word-spacing:.2rem;
}
.app{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board .board-row{
    display: flex;
    flex-direction: row;
   
    border-bottom: 2px solid #000;
}
.board .board-row:last-child{
    border-bottom: none;
}
.status{
    color: rgb(20, 104, 31);
    border-bottom: 2px solid rgb(22, 22, 22);
}

.square{
    width: 80px; 
    height: 80px;
    border-right: 2px solid #000;
    font-size: 2.5rem;
    padding: 0;
    overflow: hidden;
    transition: all 0.2s;
}
.square:last-child{
    border-right: none;
}
.newgame{
    font-size: 25px;
    color: white;
    padding: 10px;
    background-color: green;
    border-radius: 25px;
    align-items: center;
   align-content: center;
}

footer {
    position: fixed;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin: 0 5px 5px 0px;
    z-index: 100;
    display: flex;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}


/* Media Query */
@media (max-width: 500px) 
{
    .newgame{
        font-size: 18px;
        margin-left: 10vw;
    }
   footer{
    font-size: small;
   }
}